<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConfigController</servlet-name>
        <servlet-class>controller.ConfigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VmController</servlet-name>
        <servlet-class>controller.VmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigController</servlet-name>
        <url-pattern>/ConfigController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SlaParamController</servlet-name>
        <servlet-class>controller.SlaParamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SlaParamController</servlet-name>
        <url-pattern>/SlaParamController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>controller.ApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/ApplicationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SlaController</servlet-name>
        <servlet-class>controller.SlaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SlaController</servlet-name>
        <url-pattern>/SlaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VmController</servlet-name>
        <url-pattern>/VmController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
